* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  display: block;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --------------- */

@font-face {
  font-family: "Mason Chronicles Regular (Wither)";
  font-display: swap;
  src: url("../fonts/Mason Chronicles Regular (Wither).woff") format("woff"), url("../fonts/Mason Chronicles Regular (Wither).woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #141218;
  color: #fff;
  font-size: 14px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/backgroundbg.jpg");
  background-repeat: no-repeat;
  background-position: top right 15%;
  background-size: auto 100%;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

/*------HEADER-----*/

.header {
  padding: 30px 0px 40px 0px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  max-width: 100%;
}

.header__social-link {
  margin-left: 20px;
}

.header__button {
  display: none;
}

.menu__list {
  margin-right: auto;
  margin-left: 67px;
}

.menu__list a {
  color: #fff;
  margin-right: 20px;
}

.menu__list a:last-child {
  margin-right: 0;
}

.menu__list a:hover {
  color: grey;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.main__title {
  font-family: "Mason Chronicles Regular (Wither)";
  font-weight: 400;
  margin-bottom: 10px;
}

.main__subtitle {
  line-height: 21px;
  font-weight: 400;
  max-width: 458px;
  margin-bottom: 40px;
}

.content__text {
  display: block;
  margin-bottom: 15px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.rating-stars :hover {
  cursor: pointer;
}

.rating__number {
  font-size: 12px;
  margin-left: 8px;
}

.button {
  position: relative;
  top: 0;
  padding: 22px 72px;
  border-radius: 8px;
  background-color: #9d2929;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.button:active {
  top: 2px;
  -webkit-box-shadow: 0px 1px #9d2929;
          box-shadow: 0px 1px #9d2929;
}

.button:hover {
  color: grey;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #9d2929;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.play__image {
  position: relative;
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.play::before {
  content: '';
  position: absolute;
  width: 132px;
  height: 132px;
  background-color: #9d2929;
  opacity: 0.5;
  border-radius: 50%;
  top: -16px;
  left: -16px;
  -webkit-animation: pulse 0.5s ease-in-out infinite;
          animation: pulse 0.5s ease-in-out infinite;
}

.series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  position: relative;
  max-width: 419px;
}

.card {
  width: 164px;
  height: 113px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 13px;
  margin-right: 25px;
}

.card:last-child {
  margin-right: 0;
}

.card__subtitle {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 2px;
}

.card__title {
  font-size: 14px;
  font-weight: 700;
}

.card__img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2d2d2d)), url("../img/card-image1.png");
  background: -o-linear-gradient(top, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%), url("../img/card-image1.png");
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%), url("../img/card-image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card__img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2d2d2d)), url("../img/card-image2.png");
  background: -o-linear-gradient(top, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%), url("../img/card-image2.png");
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%), url("../img/card-image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card__subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}

.card__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.swiper-container {
  max-width: 418px;
}

.navigation__arrow {
  width: 32px;
  height: 23px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 40%;
  right: -35px;
}

.footer {
  background-color: #141218;
  padding: 22px 0px;
  margin-top: auto;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left {
  color: gray;
}

.footer__link {
  color: gray;
  margin-left: 25px;
}

.footer__link:first-child {
  margin-left: 0;
}

@media (min-width: 767px) {
  .menu__list a {
    font-size: calc(14px + 4 * (100vw / 1440));
  }

  .main__title {
    font-size: calc(56px + 20 * (100vw / 1440));
  }

  .main__subtitle {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 8px 5px 10px 15px;
  }

  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 215px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding-bottom: 10px;
    top: 0;
    right: 0px;
    background-color: #9D2929;
    -webkit-transition: opacity 1s ease-in, visibility 1s ease;
    -o-transition: opacity 1s ease-in, visibility 1s ease;
    transition: opacity 1s ease-in, visibility 1s ease;
  }

  .header__row.header-active {
    opacity: 1;
    visibility: visible;
  }

  .header__button {
    display: block;
    position: absolute;
    top: 30px;
    right: 25px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    cursor: pointer;
  }

  .header__button::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-top: -7px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }

  .header__button::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-top: 7px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }

  .header__button-active {
    height: 0;
  }

  .header__button-active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 13px;
  }

  .header__button-active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu__list a {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }

  .menu__list a {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
  }

  .main__title {
    font-size: calc(56px + 34 * ((100vw - 320px) / 1440));
  }

  .main__subtitle {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }

  .main__content {
    margin-top: 185px;
  }

  .main__subtitle {
    max-width: 100%;
  }

  .play {
    display: none;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__left {
    margin-bottom: 8px;
  }
}

@media (max-width: 540px) {
  .series {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
  .main__content {
    margin-top: 190px;
  }
}

.webp .wrapper { background-image: url(../img/backgroundbg.webp); }

.webp .card__img-1 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2d2d2d)), url(../img/card-image1.webp); }

.webp .card__img-1 { background: -o-linear-gradient(top, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%), url(../img/card-image1.webp); }

.webp .card__img-1 { background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%), url(../img/card-image1.webp); }

.webp .card__img-2 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2d2d2d)), url(../img/card-image2.webp); }

.webp .card__img-2 { background: -o-linear-gradient(top, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%), url(../img/card-image2.webp); }

.webp .card__img-2 { background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%), url(../img/card-image2.webp); }